/* You can add global styles to this file, and also import other style files */
@import 'grid';

.input-group {
  margin-bottom: 15px;
}

.float-right {
  float: right;
}

.align-content {
  text-align: center;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.mat-drawer-content {
  overflow: hidden !important;
}
