@import '~@angular/material/theming';

@include mat-core();

$dark-primary: mat-palette($mat-teal, 500);
$dark-accent: mat-palette($mat-blue, 800);
$dark-warn: mat-palette($mat-red, 400);
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);
