<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col s12">
      <h4>Registered users ({{ users.length }})</h4>
    </div>
  </div>
  <div class="row"><form [formGroup]="addUserForm" #form="ngForm" (ngSubmit)="editUser()" style="display:inline"></form></div>
  <div class="row">
    <div class="col s12">
      <table mat-table [dataSource]="dataSource" matSort class="mat-table--list">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">
            <a href="{{ element.link }}"><img src="{{ element.imageSrc }}" width="88" height="135"/></a>
          </td>
          <td mat-footer-cell *matFooterCellDef>Name</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editUser(element)"><span>Edit</span></button>
              <button mat-menu-item (click)="deleteUser(element)"><span>Remove</span></button>
            </mat-menu>
          </td>
          <td mat-footer-cell *matFooterCellDef>Actions</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
