<app-loading [condition]="isLoading"></app-loading>
<div class="margin-bottom-20" *ngIf="!isLoading">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header> <mat-panel-title>AFL Ladder</mat-panel-title> </mat-expansion-panel-header>
      <table *ngIf="data && data.length > 0" class="table table-striped table-responsive">
        <thead>
          <tr>
            <td>#</td>
            <td></td>
            <td>Name</td>
            <td>P</td>
            <td>W</td>
            <td>D</td>
            <td>L</td>
            <td>For</td>
            <td>Agt</td>
            <td>%</td>
            <td>Points</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of data; let i = index">
            <td>{{ i + 1 }}</td>
            <td><img src="{{ returnImg(team.name) }}" /></td>
            <td>{{ team.name }}</td>
            <td>{{ team.played }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.draw }}</td>
            <td>{{ team.loss }}</td>
            <td>{{ team.for }}</td>
            <td>{{ team.agt }}</td>
            <td>{{ team.percent }}</td>
            <td>{{ team.points }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="data.length === 0">No ladder data</div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
