<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async) ? 'over' : 'side'"
    [opened]="!(isHandset | async)"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mat-list-item>Home</a>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!auth.loggedIn" mat-list-item>Login</a>
      <a routerLink="/register" routerLinkActive="active" *ngIf="!auth.loggedIn" mat-list-item>Register</a>
      <a routerLink="/account" routerLinkActive="active" *ngIf="auth.loggedIn" mat-list-item>Account - {{ auth.currentUser.username }}</a>
      <a routerLink="/tips" routerLinkActive="active" *ngIf="auth.loggedIn" mat-list-item>Tips</a>
      <a routerLink="/view-tips" routerLinkActive="active" *ngIf="auth.loggedIn" mat-list-item>View Tips</a>
      <a routerLink="/admin" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin" mat-list-item>Admin</a>
      <a routerLink="/enter-results" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin" mat-list-item>Enter Results</a>
      <a routerLink="/rounds" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin" mat-list-item>Manage Games</a>
      <a routerLink="/logout" routerLinkActive="active" *ngIf="auth.loggedIn" mat-list-item>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="wrapper">
      <div class="toolbar">
        <mat-toolbar color="primary">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)">
            <mat-icon aria-label=" Side nav toggle icon">menu</mat-icon>
          </button>
          <span>2019 Footy Tipping </span>
        </mat-toolbar>
      </div>
      <div class="content"><router-outlet></router-outlet></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
