<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<mat-accordion>
    <mat-expansion-panel *ngFor="let round of rounds | sort:'dateStart'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Round {{round.number}}
            </mat-panel-title>
            <mat-panel-description>
                {{round.dateStart | date}} - {{round.dateEnd | date}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-list-item *ngFor="let game of round.games">
                <h3 matLine> {{game.homeTeam}} v {{game.awayTeam}} </h3>
                <p matLine>
                    <span> {{game.location}} </span>
                    <span class="demo-2"> -- {{game.dateTime | date}} </span>
                </p>
            </mat-list-item>
        </mat-list>

        <button class="btn btn-sm btn-danger" (click)="deleteRound(round)">
            <i class="fa fa-trash"></i> Delete</button>
    </mat-expansion-panel>
</mat-accordion>

<div class="card">
    <div class="card-block">
        <form class="example-container" [formGroup]="addRoundForm">
            <mat-form-field>
                <input matInput type="number" name="number" formControlName="number" placeholder="Number" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="dateStart" placeholder="Date Start" formControlName="dateStart">
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="dateEnd" placeholder="Date End" formControlName="dateEnd">
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
            </mat-form-field>

            <div formArrayName="games">
                <div class="form-inline" *ngFor="let game of addRoundForm.get('games').controls; let i=index">
                    <span>Game {{i + 1}}</span>
                    <div [formGroupName]="i">
                        <mat-form-field>
                            <mat-select placeholder="Home Team" formControlName="homeTeam">
                                <mat-option *ngFor="let t of teams | sort: 'name'" [value]="t.value">
                                    {{ t.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Away Team" formControlName="awayTeam">
                                <mat-option *ngFor="let t of teams | sort: 'name'" [value]="t.value">
                                    {{ t.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select placeholder="Location" formControlName="location">
                                <mat-option *ngFor="let t of locations | sort: 'name'" [value]="t.name">
                                    {{ t.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [matDatepicker]="dateTime" placeholder="Date" formControlName="dateTime">
                            <mat-datepicker-toggle matSuffix [for]="dateTime"></mat-datepicker-toggle>
                            <mat-datepicker #dateTime></mat-datepicker>
                        </mat-form-field>
                        <input type="time" atp-time-picker />
                    </div>
                </div>
            </div>

            <button mat-button (click)="addRound()" [disabled]="!addRoundForm.valid">
                <i class="fa fa-floppy-o"></i> Save
            </button>
            <pre>{{addRoundForm .valid}}</pre>
        </form>
        <button mat-button (click)="add()">Add Round</button>
    </div>
</div>