<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div>
    <thead class="thead-default">
        <tr>
            <th>Round Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let round of rounds" >
            <td>{{round.number}}</td>
            <td>{{round.dateStart | date}}</td>
            <td>{{round.dateEnd | date}}</td>
            <td *ngFor="let games of round.games">
                {{games.homeTeam}} v {{games.awayTeam}}
                {{games.dateTime | date}}
            </td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="deleteRound(round)"><i class="fa fa-trash"></i> Delete</button>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr colspan="4">
            <form class="form-inline" [formGroup]="addRoundForm" (ngSubmit)="addRound()">
                <div class="form-group">
                    <input class="form-control" type="number" name="number" formControlName="number" placeholder="Number" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="dateStart" formControlName="dateStart" placeholder= "Date Started" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="dateEnd" formControlName="dateEnd" placeholder="Date End" required>
                </div>


                <button class="btn btn-sm btn-primary" type="submit" [disabled]="!addRoundForm.valid">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </form>
        </tr>
    </tbody>
    <div>
        <label>Total Rounds:</label>
        <div>{{totalRounds}}</div>
    </div>
</div>