<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card">
    <h4 class="card-header">Rounds ({{rounds.length}})</h4>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Round Number</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Games</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let round of rounds | sort: 'dateStart'" >
                    <td>{{round.number}}</td>
                    <td>{{round.dateStart | date}}</td>
                    <td>{{round.dateEnd | date}}</td>
                    <td>{{round.games.length}}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" (click)="deleteRound(round)"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <form class="form-inline" [formGroup]="addRoundForm">
            <div class="form-group">
                <label>Round</label>
                <input class="form-control" type="number" name="number" formControlName="number" placeholder="Number" required>
            </div>
            <div class="form-group">
                <label>Date Start</label>
                <input class="form-control" type="date" name="dateStart" formControlName="dateStart" placeholder="Date Started" required>
            </div>
            <div class="form-group">
                <label>Date End</label>
                <input class="form-control" type="date" name="dateEnd" formControlName="dateEnd" placeholder="Date End" required>
            </div>
            <div formArrayName="games">
                <div class="form-inline" *ngFor="let game of addRoundForm.get('games').controls; let i=index">
                    <span>Game {{i + 1}}</span>
                    <div [formGroupName]="i">
                        <div class="form-group" >
                            <label>Home Team</label>
                            <select class="form-control" name="homeTeam" formControlName="homeTeam" required>
                                <option *ngFor="let t of teams | sort: 'name'" [ngValue]="t.value">{{t.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Away Team</label>
                            <select class="form-control" name="awayTeam" formControlName="awayTeam" required>
                                <option *ngFor="let t of teams | sort: 'name'" [ngValue]="t.value">{{t.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <select class="form-control" name="location" formControlName="location" required>
                                <option *ngFor="let l of locations | sort: 'name'" [ngValue]="l.name">{{l.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        
            <button class="btn btn-sm btn-primary" (click)="addRound()">
                <i class="fa fa-floppy-o"></i> Save
            </button>
        </form>
        <button class="btn btn-sm btn-primary" (click)="add()">Add Round</button>
    </div>
</div>

<div>
    <pre>form value: {{addRoundForm.value | json}}</pre>
</div>