<app-toast [message]="toast.message"></app-toast>

<div class="container" style="padding-top: 50px">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="row">
      <mat-form-field class="col s4 m6">
        <input matInput type="text" name="username" formControlName="username" placeholder="Username" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col s4 m6">
        <input matInput type="email" name="email" formControlName="email" placeholder="Email" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col s4 m6">
        <input matInput type="password" name="password" formControlName="password" placeholder="Password" />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col s4 m6">
        <button mat-raised-button type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
      </div>
    </div>
  </form>
</div>
