<app-loading [condition]='isLoading'></app-loading>
<div class="col-md-6" *ngIf="!isLoading">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Round {{roundData.number}} Tip results </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table *ngIf="user && users.length > 0" class="table">
                <tr *ngFor="let user of users | reverseSort:'total'">
                    <td>
                        <div>
                            <img src="/assets/user-logos/{{user.user_data.username}}.png"> {{user.user_data.username | humanize}}
                            <h4 class="float-right">{{user.total}}</h4>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>