<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col s12"><h4>Current Tips</h4></div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <form class="form-inline" [formGroup]="selectForm">
        <mat-form-field>
          <mat-select placeholder="Select a round" formControlName="number">
            <mat-option *ngFor="let t of (rounds | reverseSort: 'number')" [value]="t._id">
              Round {{ t.number }} - ({{ t.dateStart | date: 'dd MMM' }})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="!userTips.length"><div class="col s12 m6">No tips this round</div></div>
  <div class="row">
    <div class="col s12 m6" *ngFor="let user of userTips">
      <div class="player-card">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img class="user-portrait" src="{{ returnUserImage(user.user_data.username) }}" /></div>
            <mat-card-title>{{ user.user_data.username | humanize }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table class="table">
              <tr *ngFor="let tip of user.tips; let i = index">
                <td class="align-tips">
                  <div *ngIf="tip === 0">
                    <img src="{{ returnName(games[i].homeTeam) }} " />
                    <div>{{ games[i].homeTeam | humanize }}</div>
                  </div>

                  <div *ngIf="tip === 1">
                    <img src="{{ returnName(games[i].awayTeam) }}" />
                    <div>{{ games[i].awayTeam | humanize }}</div>
                  </div>
                  <div class="tip-result" *ngIf="roundCompleted">
                    <i *ngIf="tip === games[i].result" class="fa fa-check checked"></i>
                    <i *ngIf="tip !== games[i].result" class="fa fa-times cross"></i>
                  </div>
                </td>
              </tr>
            </table>

            <div class="align-tips">{{ user.total }}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
