<app-loading [condition]="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <mat-card>
    <mat-card-content>
      <table class="table">
        <thead>
          <tr>
            <td><strong>Ladder</strong></td>
            <td>R {{ roundNumber }}</td>
            <td>T</td>
          </tr>
        </thead>
        <tr *ngFor="let user of (users | reverseSort: 'total')">
          <td>
            <div><img src="{{ returnUserImage(user.username) }}" /> {{ user.username | humanize }}</div>
          </td>
          <td>
            <h4>
              <small class="subtext" *ngIf="user.roundTotal">({{ user.roundTotal }})</small>
            </h4>
          </td>
          <td>
            <h4>{{ user.total }}</h4>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
