<app-loading [condition]='isLoading'></app-loading>
<div class="col-md-6" *ngIf="!isLoading">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ladder</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table">
                <tr *ngFor="let user of users | reverseSort:'total'">
                    <td>
                        <div>
                            <img src="{{returnUserImage(user.username)}}"> {{user.username | humanize}}
                            <h4 class="float-right">{{user.total}}</h4>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>